site_name: Serg's DevOps Notes
site_url: https://notes.serg-markovich.de
site_description: DevOps learning journey, homelab, Azure, Kubernetes
copyright: Copyright © 2026 Serg Markovich

repo_url: https://github.com/serg-markovich/obsidian-public
edit_uri: edit/main/docs/

docs_dir: docs

theme:
  name: material
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.indexes
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/serg-markovich
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/serg-markovich

nav:
  - Home: index.md
  - Azure: azure/
  - DevOps: devops/
  - HomeLab: homelab/
  - Portfolio: portfolio/
  - TIL: til/

plugins:
  - search
  - tags
  - roamlinks
  - git-revision-date-localized:
      enable_creation_date: true
  - obsidian-interactive-graph

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - footnotes
  - admonition

# Дополнительные JS и CSS для графа
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js
  - https://code.jquery.com/jquery-3.6.0.min.js
  - assets/javascripts/interactive_graph.js

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css
  - assets/stylesheets/interactive_graph.css
